/* HEADER Y FOOTER */
body {
    background-color: #E8D8C4;
    color: black;
}

header, footer { 
    background-color: #6D2932;
    padding: 10px;
    text-decoration: none;
    color: white;
}

footer {
    padding-top: 30px;
}

a.nav-link {
    color: white;
}
a.nav-link:hover{
 color: #561C24;
}

/* NOMBRE FUENTE LOGO */
.ms-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.navbar-nav a {
    margin-right: 10px;
    font-size: large;
}

/* BUSCADOR  */
.search-form {
    border-radius: 25px;
    border: 2px solid #E8D8C4; 
}
.search-input {
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    border-radius: 25px 0 0 25px;
}
.search-button {
    background-color: #E8D8C4; 
    border: none;
    border-radius: 0 25px 25px 0;
    color: black;
}
.search-button:hover {
    background-color: #E8D8C4; 
    color: black;
}

/* FOOTER */
h5 {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
}   

/* BODY */
a {
    text-decoration: none;
    color: white;
}

.card-body a {   
    color: black;
}
/* FORM LABELS (GENERAL) */
label.form-label {
    margin-top: 5px;
}

/* INPUT */
input {
    background-color: #FFFAFA;
}

/* LOGIN */
.card-login {
    background-color: #C7B7A3;
    border: #561C24 solid 2px;
    border-radius: 10px;
}
button[type="submit"].form {
    background-color: #561C24;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

/*REGISTRO */
.card-registro {
    background-color: #C7B7A3;
    border: #561C24 solid 2px;
    border-radius: 10px;
}
button[type=reset] {
    background-color: #E8D8C4;
    border: none;
    padding: 3px;
    border-radius: 3px;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
}   

button[type="submit"].registro {
    background-color: #561C24;
    border: none;
    padding: 3px;
    border-radius: 3px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

main {
    min-height: 80vh;
}

.alert {
    text-align: center;
    background-color: #6d2932b0;
    color: white;
    border: #6D2932;
}

/* INICIO USUARIO */

/* CAROUSEL DE FOTOS */
.carousel-container {
    height: 500px;
    background-color:#C7B7A3;
}

.carousel-caption {
    border-radius: 10px;
    text-align: left;
    margin-left: 15px;
}
.carousel-container img {
    margin: auto;
    max-height: 400px;
}

/* SUBTITULOS INICIO USUARIO */
.subtitulos-inicio {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #6D2932;
    color: white;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* CATEGORIAS INICIO USUARIO */
.categorias-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-fragancia-inicio img {
    align-self: center;
    width: 150px;
    border-radius: 50%;
}

/* MODAL GENERALES */
.modal-header, .modal-footer {
    background-color: #8A817C;
    color: white;
}

.modal-footer {
    justify-content: center;
}

.modal-body {
    background-color: #F0E7D5;
}

/* PRODUCTOS */
.productos-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* PRODUCTOS DESTACADOS INICIO USUARIO */
.card-producto img {
    align-self: center;
    width: 250px;
    display: flex;
}

.card-producto {
    color: black;
    padding: 10px;
    border: 2px solid white; 
    border-radius: 15px;
    align-content: center;
    background-color: #F0E7D5;
    justify-content: center;
    height: 100%;
   margin-top: 10px;
}

/* MENU  */
.menu {
    display: flex;
    justify-content: center;
    background-color: #6D2932; 
    padding-bottom: 10px;
}
ul.nav {
    background-color: #F0E7D5; 
    border: white 2px solid;
    border-radius: 25px;
    align-self: center;
    text-align: center;
    justify-content: space-around;
    width: 50%;
}
ul.nav a {
    text-decoration: none;
    color: black;
}

/* BOTON VER PRODUCTO*/
.btn-ver-producto {
    background-color: #C7B7A3; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 5px;
    align-self: center;
}

/* BOTON COMPRAR PRODUCTO / AGREGAR LA CARRITO */
.btn-comprar {
    background-color: #561C24; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    align-self: center;
    justify-content: center;    
}

/* ----------------------------- ADMIN ------------------------------------*/

/* REGISTRO DE USUSARIOS <- PANEL DE ADMINISTRADOR*/
.container-registro .card {
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 250px;
    border: #6D2932 solid 5px;
    background-color: white;
}

.container-registro .card-header {
 background-color: #F0E7D5;
}

.eliminar {
    background-color: #561C24;
    border-radius: 10%;
    color: white;
    border: none;
    width: auto;
    padding: 6px;
}
.editar {
    background-color: #C7B7A3;
    border-radius: 10%;
    color: black;
    border: none ;
    width: auto;
    padding: 6px;
}

.estado-pagado {
    align-self: center;
    background-color: #7394ffbf;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.estado-entregado, .activo{
    background-color: #73ff73b9;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.estado-cancelado, .inactivo {
    background-color: #ff7373b0;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

/* Editar USUARIO */
.card-datos {
    padding: 20px;
    margin: 20px;
    width:  800px;
    background-color: #facbd933;
    border-radius: 10px;
    border:#561C24 solid 2px;
}

.card-datos button.cancelar, .card-datos a.cancelar{
    background: #C7B7A3; 
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    margin-right: 5px;
    align-self: center;
}

.card-datos button.guardarCambios {
    background: #561C24; 
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    margin-left: 10px;
}

button.guardarCambios {
    background: #561C24; 
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    margin-left: 10px;
}

a.extras, .extras {
    background-color: #facbd997;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}
/* CARRITO DE COMPRAS */

.container-carrito {
    margin: 50px;
    width: 50%;
    padding: 15px;
    border: #561C24 solid 2px;
}

.container-carrito button {
    background: #561C24; 
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
}

/* MARCAS */
.perfume-brands {
  margin-top: 150px ;
  padding: 2rem;
  background-color: #F0E7D5;
  text-align: center;
  border-top: 2px solid #e0c0c0;
}

.perfume-brands h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 50px;
  align-self: center;
  color: #561C24;
  font-family: 'Georgia', serif;
}

.brands-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  min-height: 200px;
  padding: 1rem;
  justify-content: center;
}

.brand-card img {
  max-width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));

}

.brand p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* STOCK CONTROLS */
.stock-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stock-control button {
  margin: 5px;
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #6D2932;
  color: white;
}

.stock-control input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.btn-ver-detalle {
    margin-top: 10px;
    margin: 5px;
    background-color: #C7B7A3; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    align-self: center;
    justify-content: center;
}


/* MODAL AGREGAR PRODUCTOS / MARCA / CATEGORIAS */

.btn-agregar, a.btn-agregar {
    background-color: #facbd997;
    color: black;
    margin-top: 40px;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
    margin: 10px;
    border-radius: 5%;
    border: white solid 1px;
    align-self: center;
}
.btn-guardar-cambios {
    background-color: #561C24;
    border: none;
    padding: 3px;
    border-radius: 3px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h2 { 
    margin-left: 10%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

h3 {
    margin: 20px;
    font-size: large;
    
}